{% extends "productIndex.html" %}
{% load crispy_forms_tags %}
{% block start %}

 <div class="content-section col-md-8 col-md-offset-2">
  <center>
  <form method="POST" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      {{ form}}
    </fieldset>
   <center>
    <button style="background: black; font-size: 2rem; padding:1%;" class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-log-in"></span> &nbsp; save</button>
    <a href="{% url 'product-all'%}" style="background: black; font-size: 2rem; padding:1%;" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span> &nbsp;back</a>
  
  </center>
  <br/>
 
  </form>
</center>
 </div>
{% endblock start %}
